

.signup-left
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
}
.signup-left-content
{
    /* background-color: red; */
    width: 100%;
}
.signup-left-header h6
{
    color: #bc2bff ;
    font-size: 1.3rem;
}
.createaccount-divider
{
    height: 2px;
    width: 120px;
    background-color: #7249fb ;
}
.signup-left-header p{
    color: silver;
    padding: 0;
    margin: 0;
}
.signup-left-content img
{
    width: 70px;
}
.signup-frm-ctrl-ttl
{
    color: #5680E9;
    text-transform: lowercase;
    letter-spacing: 1px;
    margin-top: 10px;
    /* font-weight: bold; */
}
.signup-left-content input
{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    /* border-bottom: solid 2px rgb(231, 231, 231); */
    padding: 10px;
    font-size: 1rem;
    transition: 0.3s;
    border: #bdbdbd solid 1px;
    border-radius: 5px;
}
.signup-left-content input:focus
{
    border-color: #7249fb ;
    background-color: rgb(248, 248, 248);
}

.signup-left-content .btnSignupAccount
{
    display: inline-block;
    border: none;
    outline: none;
    background-color: #5680E9;
    padding: 8px 20px;
    font-size: 1.1rem;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
.btnSignupAccount:hover
{
    background-color: #8860d0;
    transform: translateX(15px);
}

.signup_radio_cont input{
    width: fit-content;
}
.signup_radio_cont span
{
    margin: 0px 10px;
    font-size: 1rem;
    color: black;
}



.signup-right
{
    background: linear-gradient(rgba(29, 27, 56, 0.7),rgba(29, 27, 56, 0.7)),url('../../../public/images/buildingimage1.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.signup-right-content
{
    display: flex;
    justify-content: right;
}

.signup-right-content h2
{
    letter-spacing: 2px;
    color: #bc2bff ;
}

.signup-right-content p
{
    letter-spacing: 1px;
    color: #d4d4d4 ;
}

.signup-error-cont{
    padding: 20px;
    min-height: 100vh;
    background-color: #e1e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-error-inner{
    padding: 10px;
    width: 100%;
    text-align: center ;
}
.signup-error-inner img{
    height: 300px;
}
.signup-fail-error{
    color: red;
    display: block;
    font-size: 1rem;
    margin: 20px;
}
.signup-err-pulse {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c10016;
    box-shadow: 0 0 0 0 rgba(193,0,22,0.5);
    animation: pulse-c6zlskmd 1s infinite;
    margin-right: 10px;
 }
 
 @keyframes pulse-c6zlskmd {
    100% {
       box-shadow: 0 0 0 20px #0000;
    }
 }

.signup-loader-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(29, 27, 56, 0.5);
    z-index: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-loader-inner {
    padding: 70px;
    background-color: white;
    width: fit-content;
}





/* ----------- progress ------------ */

.progress-signup {
    height: 5px;
    width: 100%;
    background: linear-gradient(#474bff 0 0),
        linear-gradient(#474bff 0 0),
        #dbdcef;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: progress-7x9cg2 3s infinite;
 }
 
 @keyframes progress-7x9cg2 {
    0% {
       background-position: -150% 0,-150% 0;
    }
 
    66% {
       background-position: 250% 0,-150% 0;
    }
 
    100% {
       background-position: 250% 0, 250% 0;
    }
 }