.sec-login-main
{
    min-height: 100vh;
}


.login-header-main
{
    background-color: #bc2bff ;
    height: 80px;
}

.login-main-content
{
    
}
.login-left-main
{
    padding: 40px;
    width: 450px;
    margin-top: 70px;
    /* box-shadow: silver 0px 0px 20px 0px; */
}

.login-left-main label
{
    display: block;
    color: #bc2bff;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 20px;
}

.login-left-main input[type='email'],input[type='password']
{
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    background-color: transparent;
    border: solid 1px rgb(224, 224, 224);
    transition: 0.3s;
    outline: none;
    border-radius: 5px;
}


.login-left-main input[type='email']:focus,input[type='password']:focus
{
    border: solid 1px #7249fb ;
    background-color: rgb(250, 250, 250);
}
.login-left-main span
{
    color: black;
    font-size: 1rem;
    padding-left: 10px;
}
.btn-login-main
{
    border: none;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #7249fb ;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-login-main:hover
{
    background-color: #4e2db9 ;
}
.login-left-main h6{
    color: #7249fb;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.btn-login-main-google
{
    border: none;
    width: 100%;
    color: white;
    padding: 6px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #bd0000 ;
    margin-top: 10px;
    transition: 0.3s;
}
.btn-login-main-facebook
{
    border: none;
    width: 100%;
    color: white;
    padding: 6px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0064c2 ;
    margin-top: 10px;
    transition: 0.3s;
}
.login-left-main a{
    display: block;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-right-main img
{
    width: 60%;
    margin-top: 100px;
}

