.after-login-nav
{
    background-color: #7249fb;
    min-height: 70px;
}


.btn-nav-profile-img
{
    padding: 0 !important;
    margin: 0;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    background-color: red;
}
.online-dot-indicator
{
    position: absolute;
    background-color: rgb(36, 255, 54);
    width: 12px;
    height: 12px;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
}
.btn-nav-profile-img img
{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-top: 0;
}


.nav-link
{
    color: white !important;
    margin: 0px 5px;
    transition: 0.3s;
}
.nav-link:hover
{
    color: #b2e7fc !important;
}
.sub-category-nav
{
    text-align: center;
    background-color: rgb(247, 247, 247);
    /* padding: 10px; */
    padding-top: 50px;
}
.sub-category-nav ul
{
    
    padding-bottom: 0;
    margin-bottom: 0;
}
.sub-category-nav ul li
{
    display: inline;
}
.sub-category-nav ul li a{
    display: inline-block;
    padding: 5px 15px;
    color: black;
    transition: 0.3s;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    margin: 3px 5px;
}
.sub-category-nav ul li a:hover{
    background-color:#bc2bff ;
    text-decoration: none;
    color: white;
}

.subnav-dropdown-login{
    margin-top: 0 !important;
    padding-top: 0 !important;
}


.subnav-dropdown-login 
{
    left: -240%;
}

.a-nav-s-item{
    color: black !important;
    margin-left:  0 !important;
}

.afterlogin_user_title{
    color: white;
    background-color: #bc2bff;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: right;
}