@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root
{
    --almond:#FFCCBC;
    --green:#00887A;
    --sky:#77A6F7;
    --accent:#d3E3FC;
    --base:rgb(1, 27, 55);
}

*{
    padding: 0;
    margin: 0;
    
}
body
{
    font-family: 'Roboto', sans-serif;  
    overflow-x: hidden;
}

header{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
header video
{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height:100%;
}
.header-content-container{
    /* background-image: linear-gradient(90deg,rgba(188, 43, 255,0.63) ,rgba(114, 73, 251,0.8) ); */
    background-image: linear-gradient(90deg,rgba(19, 17, 32, 0.63) ,rgba(19, 17, 32, 0.63) );
    height: 100vh;
    position: relative;
    z-index: 1;
}
.header-content{
    padding-top: 200px;
}

/* ---------------- SLIDER ---------------- */

.slider-img-part img{
    width: 80%;
    margin-left: 50px;
}
.slider-text-part h6
{
    color: rgb(179, 229, 248);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.slider-text-part h1{
    color: #bc2bff ;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-size: 3.3rem;
}
.slider-text-part p{
    color: rgb(238, 238, 238);
    padding-top: 20px;
    letter-spacing: 1px;
}
.slider-text-part a{
    color: white;
    /* background-color: var(--almond); */
    border: solid 2px white;
    display: inline-block;
    padding: 7px 25px;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: 0.3s;
}
.slider-text-part a:hover{
    background-color: white;
    color: var(--sky);
    text-decoration: none;
}
@media screen and (max-width: 780px) {
    .slider-img-part img{
        display: none;
    }
  }

/* ------------------- NAVIGATION --------------- */

nav{
    /* border-bottom: solid 1px rgba(255, 255, 255,0.4); */
    padding: 4px 10px !important;
    position: fixed !important;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
}
.cst-inactive-nav{
    /* border-bottom: solid 1px rgba(255, 255, 255,0.4); */
    background-color: transparent;
}
.cst-active-nav{
    background-color: #bc2bff;
}
nav li a{
    color: #ffffff !important;
    margin: 0 10px;
    transition: 0.3s;
    position: relative;
    font-size: 1.05rem;
    letter-spacing: 1px;
    text-transform: lowercase;
}
.usual-nav-link a::before{
    content: '';
    background-color: white;
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
.usual-nav-link a:hover::before{
    display: block;
    width: 100%;
}
.usual-nav-link a:hover
{
    color: white !important;
}

nav .navbar-brand img{
    height: 35px;
}

.nav-link-login
{
    border: solid 1px white;
    background-color: transparent;
    transition: 0.3s;
}
.nav-link-login:hover{
    background-color: #7249fb  ;
    border-color:#7249fb ;
}
.nav-link-register
{
    border: solid 1px white;
    margin: 0 10px;
    transition: 0.3s;
}
.nav-link-register:hover
{   
    background-color: #7249fb  ;
    border-color:#7249fb ;
}

@media screen and (max-width: 990px) {
    nav{
        background-color: var(--base);
    }
    .nav-item
    {
        margin: 10px 0px;
    }
  }


/* -------------------- EMBEDDED CUSTOM CSS ----------------- */

.home_banner_area
{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.home_banner_area video
{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height:100%;
}
.banner_inner
{
    min-height: 100vh;
    background-image: linear-gradient(90deg,rgba(119, 166, 247,0.63),rgba(0, 136, 122,0.8));
}

/* ------------- FOOTER ------------- */


footer
{
    /* background-color: #040922; */
    background-color: #222222;
    padding-top: 40px;
}
.ftr-site-desc-sec
{
    background-color: #2c2c2c;
    padding: 40px;
}

.ftr-site-desc-sec img
{
    width: 70px;
}
.ftr-site-desc-sec h6{
    color: #7249fb  ;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 25px;
}
.ftr-site-desc-sec p{
    color: #c5c5c5;
    padding-top: 25px;
    letter-spacing: 1px;
}
.ftr-site-desc-sec a{
    color: #5AB9EA;
    transition: 0.3s;
    margin-top: 20px;
    display: block;
    margin-bottom: 40px;
}
.ftr-site-desc-sec a:hover{
    text-decoration: none;
    transform: translateX(10px);
}

.ftr-site-links-sec
{
    padding: 20px 25px;
}

.ftr-site-social-cont
{
    padding: 30px;
    border-top:solid 2px #2d3869 ;
    text-align: center;
}

.ftr-social-icons
{
    display: inline-flex;
    background-color: rgba(0,0,0,0.5);
    color: rgb(240, 240, 240);
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    /* border: solid 1px white; */
    margin: 10px 6px;
    /* border-radius: 50%; */
    cursor: pointer;
    transition: 0.3s;
}
.ftr-social-icons:hover
{
    background-image: linear-gradient(#bc2bff ,#7249fb );
    color: white;
}
.ftr-site-social-cont p,span{
    color: rgb(173, 173, 173);
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
.ftr-site-social-cont p a{
    color: #8860D0;
}

.ftr-secs
{
    padding: 15px 5px;
}
.ftr-secs h6{
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}
.ftr-heading-divider
{
    margin-top: 5px;
    width: 50px;
    height: 2px;
    background-color: #8860D0;
    margin-bottom: 18px;
}
.ftr-secs ul li
{
    display: block;
    padding: 0;
    margin: 0;
}
.ftr-secs ul{
    margin:0;
    padding: 0;
}
.ftr-links-sec ul li a{
    display: block;
    color: rgb(212, 212, 212);
    letter-spacing: 1px;
    padding: 8px 0px;
    transition: 0.3s;
}
.ftr-links-sec ul li a:hover{
    color: #5AB9EA;
    text-decoration: none;
    transform: translateX(10px);
}

.ftr-contact-sec
{
    color: rgb(212, 212, 212);
}
.ftr-contact-sec ul 
{
    padding-left: 0;
    margin-left: 0;
}
.ftr-contact-sec ul li
{
    padding: 8px 0px ;
}
.ftr-contact-sec span
{
    display: inline-block;
    color: #5AB9EA;
    width: 25px;
}

.ftr-subscribe-inner{
    padding: 20px 0px;
}

.ftr-subscribe-inner input{
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.7);
    transition: 0.3s;
    width: 100%;
}
.ftr-subscribe-inner input:focus
{
    background-color: rgba(255,255,255,1);
}

.ftr-subscribe-inner button
{
    border: none;
    outline: none;
    color: white;
    padding: 5px 20px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 2px rgb(204, 204, 204);
    letter-spacing: 1px;
    text-transform: lowercase;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}
.ftr-subscribe-inner button:hover
{
    background-color: #5AB9EA;
}


/* --------------------- HOME ABOUT ----------------- */

.home-sec-about{
    background-color: #F9FAFF;
    padding: 100px 0px;
}
.home-sec-about-2{
    background-color: white;
    padding: 100px 0px;
}
.home-about-sec-header
{
    text-align: center;
}
.home-about-sec-header h6{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--green);
}
.home-about-sec-header h1{
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-top: 10px;
}
.home-about-sec-header p{
    padding: 20px;
    color: gray;
    letter-spacing: 1px;
}
.home-about-sec-body
{
    padding-top: 20px;
}
.home-about-sec-body img{
    width: 80%;
}
.home-about-sec-body-2 img{
    width: 80%;
}
.home-about-sec-body h1,.home-about-sec-body-2 h1
{
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 2px;
}
.home-about-sec-body p,.home-about-sec-body-2 p
{
    margin-top: 40px;
    letter-spacing: 1px;
}
.home-about-sec-body a,.home-about-sec-body-2 a
{
    display: inline-block;
    color: white;
    background-color: #bc2bff ;
    padding: 10px 25px;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
}
.home-about-sec-body a:hover,.home-about-sec-body-2 a:hover
{
    text-decoration: none;
    background-color: #7249fb ;
}
.home-about-item
{
    padding: 12px;
    display: flex;
}
.home-about-item span
{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sky);
    margin-right: 12px;
    color: white;
    border-radius: 10%;
}
.home-about-item h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--green);
}

/* ---------------------- HOME COUNTER ---------------- */

.home-counter-sec
{
    background: url('./../../../public/images/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.home-counter-box
{
    padding: 20px 0px;
    background-color: rgba(255, 255, 255,0.2);
}
.counter-divider
{
    /* border-right: solid 2px rgb(255, 255, 255); */
}   
.home-counter-box h1{
    color: white;
    letter-spacing: 2px;
    font-size: 4rem;
    font-weight: 500;
}
.home-counter-box h6{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.home-counter-box span
{
    font-size: 1.8rem;
    display: block;
    padding: 20px 0px;
    color: white;
}
.ctr-1{
    background-color: rgba(114, 73, 251,0.8) ;
}
.ctr-2{
    background-color: rgba(188, 43, 255,0.8) ;
}
.ctr-3{
    background-color: rgba(132, 206, 235,0.8);
}


/* ------------------ CLIENT SECTION ----------------- */

.home-clients-sec-header
{
    text-align: center;
}
.home-clients-sec-header h6{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #7249fb;
}
.home-clients-sec-header h1{
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-top: 10px;
    color: gray;
}
.home-clients-sec-header p{
    padding: 20px;
    color: rgb(150, 150, 150);
    letter-spacing: 1px;
}
.home-clients-sec
{
    padding: 100px;
    min-height: 100vh;
    /* background-color: #F9FAFF; */
}
.quote-testimonial
{
    color: #7249fb;
    font-size: 2.3rem;
}
.home-client-card
{
    text-align: center;
    background-color: white;
    padding: 20px 15px;
    box-shadow: rgb(230, 230, 230) 0px 0px 20px 0px;
}
.client-img-holder
{
    height: 100px;
    width: 100px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
}
.home-client-card img{
    width: 100%;
}
.home-client-card h5
{
    color: #bc2bff;
    font-size: 0.9rem;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.home-client-card p{
    padding-top: 10px;   
    /* font-weight: 600; */
    letter-spacing: 1px;
}


/* -------------------- SUBSCRIBE SECTION ---------------- */

.home-subscribe-sec
{
    /* background-color: rgb(245, 245, 245); */
    background: linear-gradient(rgba(245, 245, 245,1),rgba(245, 245, 245,0.8)),
    url('./../../../public/images/hero-bg.png');
    background-attachment: fixed;
    background-size: cover;
    padding: 100px;
    min-height: 600px;
}
.home-subscribe-sec h6
{
    color: #7249fb;
}

.home-subscribe-sec input[type='email']
{
    width: 80%;
    background-color: rgba(0,0,0,0.1);
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 10px 15px;
    transition: 0.3s;
}
.home-subscribe-sec input[type='email']:focus
{
    background-color: rgba(0,0,0,0.2);
}
.home-subscribe-sec button
{
    border: none;
    margin-top: 20px;
    background-color: #7249fb;
    padding: 7px 25px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.3s;
}
.home-subscribe-sec button:hover
{
    transform: scale(1.06);
    box-shadow: rgb(148, 148, 148) 0px 0px 10px 0px;
}

/* -------------------- SERVICE SECTION ------------------ */
.home-services-sec
{
    min-height: 100vh;
    /* background-color: rgb(248, 247, 247); */
    position: relative;
    padding: 100px 0px;
    padding-bottom: 140px;
}
.home-service-card
{
    box-shadow: rgb(235, 235, 235) 0px 0px 30px 0px;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
}
.home-service-card:hover
{
    transform: translateY(10px);
}
.home-service-card span
{
    background-color: #7249fb ;
    margin-top: 20px;
    display: flex;
    font-size: 1.7rem;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}
.home-service-card h5{
    padding-top: 40px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.1rem;
}
.home-service-card p{
    padding-top: 10px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}


/* ----------------------- COMPANIES SECTION -------------- */

.home-companies-sec
{
    padding: 60px;
    /* background-color: rgb(245, 245, 245); */
    background-repeat: white;
}


/* --------------------------- RIBBON ----------------- */

.home-sec-ribbon
{
    background-image: linear-gradient(90deg,#7249fb ,#bc2bff );
    padding: 100px 0px;
    text-align: center;
    color: white;
}

.home-sec-ribbon h3{
    letter-spacing: 2px;
    font-size: 2rem;
}

.home-sec-ribbon .home-sec-ribbon-header-desc{
    margin-top: 20px;
}

.home-ribbon-btn
{
    border: solid 1px white;
    width: 100%;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 20px;
    transition: 0.3s;
}
.home-ribbon-btn:hover
{
    color: #7249fb ;
    background-color: white;
}
.home-ribbon-btn:hover a
{
    color: #7249fb ;
}
.home-ribbon-btn:hover span
{
    color: #7249fb ;
}

.home-ribbon-btn span
{
    font-size: 1.9rem;
    display: block;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
}
.home-ribbon-btn a
{
    display: block;
    text-align: left;
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.home-ribbon-btn a:hover
{
    text-decoration: none;
}
