

/* ------------------- MODIFIED CSS ---------------- */

.contact-header-sec
{
    min-height: 80px;
    /* background-image: linear-gradient(rgba(119, 166, 247,0.9),rgba(119, 166, 247,0.8)), url('./../../../public/images/contact-back.jpg'); */
    background-size: cover;
    background-color: #bc2bff ;
}

.contact-sec-form
{
    /* min-height: 100vh; */
    background-color: white  ;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact-body-right
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('./../../../public/images/building3.jpg');
    background-size: cover;
    min-height: 80vh;
    padding: 60px;
    color: white;
}
.contact-divider
{
    background-color: #ffffff;
    width: 100px;
    height: 2px;
}
.contact-body-right h3
{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact-body-right img
{
    height: 170px;
}

.contact-body-right span
{
    color: #84CEEb;
}
.contact-body-left
{
    /* min-height: 60vh; */
    padding: 60px;
}

.contact-body-left input,textarea
{
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    font-weight: bold;
    outline: none;
    margin: 10px 0px;
    border: solid 2px transparent;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    transition: 0.3s;
}
.contact-body-left input:focus,textarea:focus
{
    border-color: #7249fb ;
}
.contact-body-left button
{
    border: none;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #7249fb ;
    margin-top: 30px;
    transition: 0.3s;
}

.contact-body-left button:hover
{
    background-color: #4e2db9 ;
}
