
.newsfeed-post-card
{
    border: solid 1px silver;
    margin-bottom: 30px;
}

.newsfeed-post-header
{
    padding: 20px;
    background-color: #222222  ;
}
.newsfeed-post-header img
{
    border-radius: 50%;
}
.newsfeed-post-header h6
{
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    color: white  ;
}
.newsfeed-post-header span
{
    color: rgb(231, 231, 231);
}

.newsfeed-post-foooter 
{
    padding: 20px;
}
.nf-post-btns
{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white ;
    padding: 6px 20px;
    cursor: pointer;
    color:#7249fb ;
    border: 1px solid #7249fb;
    transition: 0.3s;
}
.nf-post-btns:hover{
    background-color: #7249fb;
    text-decoration: none;
    color: white;
}

.newsfeed-post-body
{
    padding: 20px;
}
.newsfeed-post-body h6
{
    color: #bc2bff ;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.newsfeed-post-body img
{
    width: 100%;
    margin-right: 15px;
    /* border-radius: 20px; */
}
.newsfeed-card-desc{
    color: #222222;
    padding: 10px 0px;
    font-size: 1rem;
    font-weight: 600;
}